.header {
  width: 100%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: fixed;
  top: 0;
  z-index: 1000;
  height: 5rem;
  background: linear-gradient(90deg,rgba(119, 250, 178, 0.7), rgba(255, 228, 196, 0.7));
  backdrop-filter: blur(1rem);
}

.container {
  width: 100%;
  padding: 0 2rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: black;
  text-decoration: none;
  font-size: 1.75rem;
  font-weight: bold;
}

.nav {
  display: flex;
  gap: 1rem;
}

.navLink {
  color: black;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 0.5rem;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navLink:hover {
  transform: scale(1.05);
  transition: transform 0.2s;
}

.icon {
  display: none;
}

/* Tablet */
@media (max-width: 1024px) {
  .container {
    padding: 0 1.5rem;
  }

  .logo {
    font-size: 1.5rem;
  }

  .navLink {
    font-size: 1.2rem;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .container {
    padding: 0 1rem;
  }

  .logo {
    font-size: 1.3rem;
  }

  .linkText {
    display: none;
  }

  .icon {
    display: block;
    font-size: 1.5rem;
  }

  .navLink {
    padding: 0.5rem;
  }
}

